<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <a routerLink="warehouse" class="nav-link">
        <img src="batman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Warehouse</h5>
          <p class="card-text">Simple menu to manipulate warehouses.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a routerLink="category" class="nav-link">
      <img src="batman.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <p class="card-text">Simple menu to manipulate categories.</p>
      </div>
      </a>
    </div>
  </div>
   <div class="col">
    <div class="card">
      <a routerLink="invoice" class="nav-link">
      <img src="batman.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Invoices</h5>
        <p class="card-text">Simple menu to manipulate invoices.</p>
      </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a routerLink="product" class="nav-link">
        <img src="batman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Product</h5>
          <p class="card-text">It s showing product list</p>
        </div>
      </a>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="batman.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="batman.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>