<p-toolbar styleClass="mb-2">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" class="me-2" (onClick)="openNew()" />
        <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedWarehouses()" [disabled]="!selectedWarehouses || !selectedWarehouses.length" />
    </ng-template>
</p-toolbar>

<div class="card pt-1 pb-1 ">
  <p-table 
    #dt
    [value]="warehouseData" 
    dataKey="id"
    [loading]="loading"
    [globalFilterFields]="['name', 'location']"
    [rowHover]="true"
    [sortMode]="'multiple'"
    [(selection)]="selectedWarehouses"
  >
    <ng-template #caption>
      <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">Manage Warehouses</h5>
          <p-iconfield iconPosition="left" class="ml-auto">
              <p-inputicon>
                  <i class="pi pi-search"></i>
              </p-inputicon>
              <input
                  pInputText
                  type="text"
                  (input)="onGlobalFilter($event, dt)"
                  placeholder="Search keyword"
              />
          </p-iconfield>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
            <p-tableHeaderCheckbox />
        </th>
        @for (col of warehouseColumns; track $index) 
        {
          <th pSortableColumn="{{ col.key }}">
            {{ col.label }}
            <p-sortIcon field="{{ col.key }}"></p-sortIcon>
            <p-columnFilter
              [type]="col.key === 'id' ? 'numeric' : 'text'"
              [field]="col.key"
              [placeholder]="'Search by ' + col.label"
              [ariaLabel]="'Filter ' + col.label"
              display="menu"
            >
            </p-columnFilter>

          </th>
        }
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td >
            <p-tableCheckbox [value]="rowData"/>
        </td>
        @for (col of warehouseColumns; track $index) 
        {
          <td>
          {{ rowData[col.key] }}
          </td>
        }
        <td style="width: 3rem;">
          <div class="d-flex">
            <p-button class="pe-2" icon="pi pi-arrow-circle-up" size="small" severity="secondary" [rounded]="true" [outlined]="true" (click)="showWarehouse(rowData)" />
            <p-button icon="pi pi-pencil" size="small" severity="secondary" [rounded]="true" [outlined]="true" (click)="editProduct(rowData)" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="warehouseDialog" [style]="{ width: '450px' }" header="Warehouses Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="warehouse.name" required autofocus fluid />
                <small class="text-danger" *ngIf="submitted && !warehouse.name">Name is required.</small>
            </div>
            <div>
                <label for="name" class="block font-bold mb-3">Location</label>
                <input type="text" pInputText id="name" [(ngModel)]="warehouse.location" required autofocus fluid />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveWarehouse()" />
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />
<p-toast />
