<div class="card">
    <p-table [columns]="cols" [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    @if (col.field == "quantity") 
                    {
                        <p-inputnumber 
                            [(ngModel)]="rowData[col.field]" 
                            [showButtons]="true" 
                            inputId="minmax-buttons" 
                            [min]="1" 
                            [max]="100"  
                            [inputStyle]="{ width: '7rem' }"
                            (ngModelChange)="onQuantityChange(rowData.id)"                  
                        />
                    }
                    @else {
                        {{ rowData[col.field] }}
                    }
                </td>
                <td>
                    <p-button icon="pi pi-times-circle" (click)="onDeleteProduct(rowData.id)" severity="danger" rounded />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="mt-5 border-top border-2 pt-3">
    <div class="d-flex justify-content-between">
        <p>Total:</p>
        <h4>{{ totalPrice | currency:'PLN' }}</h4>
    </div>
    <div class="d-grid col-6 mx-auto">
        <button class="btn btn-primary" (click)="onMakeOrder()">Make order</button>
    </div>
</div>